.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

:root {
  --main-color: #020202;
  --point-color: #8a00ff;
  --font-family-pretendard: "Pretendard", Arial, sans-serif;
  --font-family-nenu: "NeueMontreal", Arial, sans-serif;
}

@media (min-width: 1537px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1536px) {
  :root {
    font-size: 14px;
  }
}
